.idea
course-info.yaml
course-remote-info.yaml
**/__pycache__/
**/passwd.py
**/pass*
./Day 32/Birthday Wisher (Day 32) start/passwd.py
./passwd.py
.env
.venv
**/static/.webassets-cache/*
*.pyc


Day 91 - Text to speech/productivity.pdf
Day 91 - Text to speech/Eloquent_JavaScript.pdf
*.mp3
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.webm
*.mp4
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz