{% extends 'base.html' %} {% block title %}Cafes{% endblock %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="heading">Cafes</h1>

        <a class="btn-outline-primary" href="{{ url_for('add_cafe') }}"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus-circle"
            viewBox="0 0 16 16"
          >
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
            />
          </svg>
        </a>
      </div>
      <div class="cafes-list">{% include 'common/cafe_list.html' %}</div>
    </div>
    <div class="col-8">
      <h1 class="heading">{{cafe.name}}</h1>
      <div class="cafe-details">
        <div class="d-flex justify-content-start align-items-center"></div>
        <img src="{{cafe.img_url}}" alt="{{cafe.name}}" />
        <div>
          <p class="description">{{cafe.description}}</p>
          <h1 class="heading">
            Coffee Price: {{cafe.coffee_price}}
            <i class="fas fa-star star d-inline-block ml-4"></i> <label>{{cafe.rating}}</label>
          </h1>
        </div>
        <div class="d-flex justify-content-space align-items-center my-4 px-2">
          {% include 'common/icons.html' %}
        </div>
        <div class="d-flex justify-content-between align-items-center px-2">
          <a href="{{cafe.map_url}}" class="btn btn-primary" target="_blank">
            <i class="fas fa-map-marker-alt"></i> View on Map
          </a>

          <div class="d-flex justify-content-end align-items-center">
            <a href="{{ url_for('edit_cafe', cafe_id=cafe.id) }}" class="btn btn-primary me-2">
              <i class="fas fa-edit"></i> Edit
            </a>
            <form action="{{url_for('delete_cafe', cafe_id=cafe.id)}}" method="post">
              <button class="btn btn-outline-danger" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
